:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body{
  margin:0px;
  padding:0px;
}
.header{
  border:1px,solid,black
}
.header-right{
  float:right;
}
.header-right li{
display:inline;
padding:30px;
}
.header-right a{
text-decoration:none;
}
.header-right,.header-left{
  display:inline-block;
}

.product-container{
  display:flex;
  flex-wrap:wrap;
}
.product-card{
  margin:15px;
  width:280px;
  border:1px,solid,black;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
}

.product-card button{
  width:180px;
  height:40px;
  margin:15px;
}
.product-card button:hover{
  background-color: black;
  color: white;
}

/* form{
  display:flex;
  flex-direction: column;
}
.login-layout{
  display:flex;
} */

.login-layout{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}
.login-form input{
  margin:10px;
}
#name{
  padding-left:100px;
}
#password{
  padding-left:102px;
  margin-left:25px;
}
.login-button{
 margin-left:100px;
 width:100px;
 height:30px;
}

#name-r{
  padding-left:100px;
}
#password-r{
  padding-left:102px;
  /* margin-left:25px; */
}